<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../img/screwdriver-wrench-solid.svg">
    <title>Ferragem Avila</title>
    <!-- Quando for criar as novas páginas na pasta views, ajustar todos os diretórios incluindo ../ -->
</head>

<body onload="listarVendas()">

    <div class="flex-div">

        <aside class="sidebar-left">
            <div class="sidebar-title">
                <img src="../img/logo.jpg" alt="Logo Ferragem Avila">
                <h2>Ferragem Avila PDV</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><i class="fa-solid fa-cart-arrow-down"></i> <a href="../index.html">Página inicial</a></li>
                    <li><i class="fa-solid fa-box"></i> <a href="produtos.html">Produtos</a></li>
                    <li><i class="fa-solid fa-list"></i> <a href="historico_vendas.html">Histórico de vendas</a></li>
                    <li><i class="fa-solid fa-chart-line"></i> <a href="dashboard.html">Dashboard</a></li>
                </ul>
            </div>
        </aside>

        <main>

            <header>
                <i class="fa-solid fa-list"></i>
                <p class="header-title">Histórico de Vendas</p>
            </header>

            <div class="main-content">

                <div class="panel-row historico-vendas">

                    <div class="filtros">
                        <div class="product-panel">
                            <input id="pesquisa_id_venda" class="form-control" type="number" min="0" max="999999" placeholder="Pesquisar por código(id) da venda...">
                        </div>
    
                        <div class="input-data-select">
                            <input type="date" class="form-control" id="data_select" oninput="listarVendasPorData()">
                        </div>
    
                        <div id="divSearchBtn" class="product-panel-btn">
                            <button id="botao_pesquisar" type="submit" class="btn btn-primary"
                                onclick="pesquisarPorIdVenda()">Pesquisar <i
                                    class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>

                    <div class="div-relatorios">
                        <button id="relatorio_dia" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#relatorio-dia">Relatório p/ dia</button>
                        <button id="relatorio_mes" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#relatorio-mes">Relatório p/ mês</button>
                    </div>

                </div>

                <div class="panel-row">
                    <div class="product-panel-full">
                        <table class="table table-striped" id="tabelaVendas">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Data</th>
                                    <th>Forma Pagamento</th>
                                    <th class="icon-centralized">Itens</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </main>

    </div>

    <div class="modal fade" id="modalInfoVenda" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Informações detalhadas da venda</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
    
                    <table class="table table-striped" id="tabelaResumoVenda">
                        <thead class="thead-dark">
                            <tr>
                                <th>Venda</th>
                                <th>Data</th>
                                <th>Pagamento</th>
                                <th>Itens</th>
                            </tr>
                        </thead>
                        <tbody>
                    
                        </tbody>
                    </table>
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Relatório dia -->
    <div class="modal fade" id="relatorio-dia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Selecione o dia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" id="form-relatorio-dia">
                        <div class="form-group col-md-12">
                            <input type="date" class="form-control" id="data_select_rel_dia">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="gerarRelatorioDia()">Gerar relatório</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Relatório Mês -->
    <div class="modal fade" id="relatorio-mes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Selecione o mês</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" id="form-relatorio-mes">
                        <div class="form-group col-md-12">
                            <input type="month" class="form-control" id="input-rel-mes">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="gerarRelatorioMes()">Gerar relatório</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"
        integrity="sha512-jDEmOIskGs/j5S3wBWQAL4pOYy3S5a0y3Vav7BgXHnCVcUBXkf1OqzYS6njmDiKyqes22QEX8GSIZZ5pGk+9nA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../js/script-venda.js"></script>

</body>

</html>